/*******************************
GENERAL
*******************************/

body {
  font-family: 'Josefin Slab', serif;}

#wrapper {
  max-width: 1170px; 
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}    

img {
  max-width:100%;
}


/*******************************
HEADER
*******************************/


nav #gradient {
height: 10px;
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(left,  #1e5799 0%, #8e6894 0%, #cc7098 34%, #f28f8f 65%, #feba72 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(0%,#8e6894), color-stop(34%,#cc7098), color-stop(65%,#f28f8f), color-stop(100%,#feba72)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #1e5799 0%,#8e6894 0%,#cc7098 34%,#f28f8f 65%,#feba72 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #1e5799 0%,#8e6894 0%,#cc7098 34%,#f28f8f 65%,#feba72 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #1e5799 0%,#8e6894 0%,#cc7098 34%,#f28f8f 65%,#feba72 100%); /* IE10+ */
background: linear-gradient(to right,  #1e5799 0%,#8e6894 0%,#cc7098 34%,#f28f8f 65%,#feba72 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#feba72',GradientType=1 ); /* IE6-9 */
}

nav #gradient2 {
border-radius: 100px;
max-width: 1170px;  
height: 50px;
margin-left: auto ;
margin-right: auto ;
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(left,  #1e5799 0%, #8e6894 0%, #cc7098 34%, #f28f8f 65%, #feba72 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(0%,#8e6894), color-stop(34%,#cc7098), color-stop(65%,#f28f8f), color-stop(100%,#feba72)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #1e5799 0%,#8e6894 0%,#cc7098 34%,#f28f8f 65%,#feba72 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #1e5799 0%,#8e6894 0%,#cc7098 34%,#f28f8f 65%,#feba72 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #1e5799 0%,#8e6894 0%,#cc7098 34%,#f28f8f 65%,#feba72 100%); /* IE10+ */
background: linear-gradient(to right,  #1e5799 0%,#8e6894 0%,#cc7098 34%,#f28f8f 65%,#feba72 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#feba72',GradientType=1 ); /* IE6-9 */
}

header {
  float: center;
  margin: 0 0 30px 0;
  width: 100%;
}

#ximea {
  text-align: center;
  margin: 30px;
  height: 110px;
  width: auto;
}


/*****************************
NAVIGATION
*****************************/


nav {
  font-size: 21px;
  text-align: center;
  color: #ccc;
} 

nav ul {
  list-style: none;
  clear: both;
  margin: 10px 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-top: 10px; 
}

nav a {
  font-weight: 400;
  padding: 0px 25px 0 25px;
  color: white;
}

nav a:active {
  color: #FEE6C3;
  text-decoration: underline;
}

nav a:hover {
  color: #FEE6C3;
}


/***********************************************
PAGE: PORTFOLIO
************************************************/


#port1 {
  margin:0;
  padding: 0;
  list-style: none;
}

#port1 li {
  width:20%;
  height:20%;
  margin:2.5%;
  background-color:#f5f5f5;
  color:#8E6894;
}

#port2 {
  margin:0;
  padding: 0;
  list-style: none;
}

#port2 li {
  width:20%;
  height:20%;
  margin:2.5%;
  background-color:#f5f5f5;
  color:#8E6894;
}

#port3 {
  margin:0;
  padding: 0;
  list-style: none;
}

#port3 li {
  width:20%;
  height:20%;
  margin:2.5%;
  background-color:#f5f5f5;
  color:#8E6894;
}


/***********************************************
PAGE: ABOUT
************************************************/

#info { 
  display:block; 
  padding: 10px 0px 40px 0px;
}

#contact {
  list-style: none;
  float: right;
  padding-left: 20px;
  color: black;
  font-size: 17px;
}

#contact a:link {
    color: black;
  }

#contact a:hover {
    color: #F28F8F;
    text-decoration: underline;
  }  

#xime {
  border-radius: 350px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -webkit-box-shadow: 5px 8px 25px 2px rgba(116,98,120,0.4);
  -moz-box-shadow: 5px 8px 25px 2px rgba(116,98,120,0.4);
  box-shadow: 5px 8px 25px 2px rgba(116,98,120,0.4);
  height: 150px;
  width: 150px;
  margin-top: 10px;
  margin-left: 20px;
  float: left;
}

.col-xs-12 , .col-md-2 , .container {
  padding: 0px;
}

#resume1 { 
  display:block;
  border-top: 1px solid #8E6894; 
}

.title {
  color: black;
  font-size: 31px;
  font-weight: 700;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 5px;  
}

.subtitle {
  color: black;
  font-weight: 600;
  font-size: 22px;
  text-align: left;
  margin-top: 15px; 
  margin-bottom: 5px;    
}

.content {
  color: black;
  font-size: 17px;
  font-weight: 100;
  text-align: left;
}

p {
  margin-bottom: 0px;
}


/***********************************************
  FOOTER
************************************************/

footer {
  height: 120px; 
  margin-top: 100px;
  background-color:  #8E6894;  
  font-size: 1em; 
  color: white;
  overflow: hidden;
  list-style: none;
  text-align: center;
  padding: 25px;
}

footer a {
  float: center;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 5px 5px 10px 5px;
}


/***********************************************
  CONTACT 
************************************************/


#wrapperTwo {
  margin: 60px;
  min-height: 100%;
  margin-bottom: -300px;
  max-width: 100%;
  margin-left: 100px;
}

h3 {
  margin: 0 0 1em 0;
}


/*** trying to do light box text ****/

h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}